/***** COLORS *****/
:root {
    --primary: #003c63;       /* Primary Color - Header Background */
    --secondary: #476b7d;     /* Secondary Color - Panel Header */
    --bkgd: #090909;          /* Page Body Background Color */
    --panelbkgd: #212121;     /* Panel Body Background Color */
    --buttonbkgd: #3b3b3b;    /* Button Background Color */
    --highlight: #0072bc;     /* Selected/Active Color */
    --logo: url("fluidnc.png");      /* Logo on Flash - 30px height, max 250px width */
    --logosmall: url("fluidnc.png"); /* Small Logo on Flash - 30px height */
}

/***** GENERAL *****/

/* FluidNC Logo Text Color */
svg.esp3dlogo :nth-child(2),
svg.esp3dlogo :nth-child(3),
svg.esp3dlogo :nth-child(4),
svg.esp3dlogo :nth-child(5),
svg.esp3dlogo :nth-child(6),
svg.esp3dlogo :nth-child(7),
svg.esp3dlogo :nth-child(8)
{
    fill: #f0f0f0;
}

/* Change the font */
body {
    background-color: var(--bkgd);
}

.body-extension {
    background-color: var(--panelbkgd);
}

/* Default Text Color - Affects Probe Status Color */
.text-primary {
    color: #ffffff !important;
}

/* Spinning Circle Loading Indicator */
.loading {
    color: transparent !important;
}

.loading::after {
    animation: loading .5s infinite linear;
    background: rgba(0, 0, 0, 0);
    border: .1rem solid #ffffff; /* Change this to set the indicator color */
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: .8rem;
    left: 50%;
    margin-left: -.4rem;
    margin-top: -.4rem;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 50%;
    width: .8rem;
    z-index: 1
}

/***** HEADER *****/

/* Header Colors */
.navbar, .navbar-section {
    color: #ffffff;
    background-color: var(--primary) !important;
}

/* Header Bottom Border */
.navbar {
    border-bottom: 0.05rem solid #bcc3ce;
}

/* Header Text Color - Unselected */
.navbar a.btn {
    color: #ffffff;
}

/* Header Mouseover Colors */
div#menu .navbar a.btn:hover, div#menu .navbar a.btn.active:hover {
    color: #ffffff !important;
    background-color: var(--bkgd) !important;
    border-color: var(--highlight) !important;
}

/* Header Text Color - Selected */
.btn.btn-link:focus {
    color: #eeeeee !important;
}

section .active, .mobile-view section .active {
    color: #eeeeee !important;
}


/***** PANELS *****/

/* Panel Header Colors */
.panel .navbar, .panel .navbar-section {
    color: #eeeeee;
    background-color: var(--secondary) !important; /* 7c1006 */
}

#filesPanel .form-control {
    color: #ffffff;
    padding: 0.2rem;
}

.extra-content-container {
    color: #ffffff;
    background-color: var(--panelbkgd);
}

/***** EMPTY SCREEN - Used for loading/disconnected screens */
.empty {
    background-color: #000000 !important;
}

/* Empty Screen Header */
.empty .empty-icon div.p-centered {
    padding: 1em !important;
    background-color: var(--highlight); /* Header Color */ 
}

.empty .empty-icon div.p-centered svg.esp3dlogo {
    height: 50px;
}

.empty div.centered {
    border: 1px solid #ffffff !important;
    background-color: var(--panelbkgd) !important;
    padding: 1rem;
}

.panel {
    background-color: var(--panelbkgd);
}

.file-line-action:active {
    color: #ffffff !important;
}

.files-list-footer {
    color: #ffffff !important;
}

.drop-zone, div.panel-body.panel-body-dashboard.terminal {
    color: #ffffff;
    background-color: var(--buttonbkgd);
}

.terminal .echo {
    color: #a3a3a3;
}

.mobile-view .tab-item a.active, .tab-item a.active {
    background-color: var(--panelbkgd) !important;
    border-color: var(--highlight) !important;
    border-bottom: 0.15rem solid var(--highlight);
}

.btn {
    color: #ffffff;
    background-color: var(--buttonbkgd);
    border-color: #ffffff;
}

.btn.emergency-btn {
    border-color: red;
}

.btn.emergency-btn svg {
    color: red;
}

.btn.emergency-btn:hover svg {
    color: #ffffff;
}

.btn.btn-primary, .btn.btn-primary:focus, .btn.btn-primary:hover,
.btn:active, .btn:hover, .btn:focus {
    background-color: var(--highlight) !important;
    color: #ffffff !important;
    border-color: #ffffff !important;
}

.form-select, .form-input, #selectAxisList {
    color: #ffffff;
    background-color: var(--buttonbkgd) !important;
    border-color: #ffffff !important;
}

.form-select:focus, .form-input:focus, #selectAxisList:focus {
    border-color: var(--highlight) !important;
}

.slider-ctrl, input.slider, input#laser_power_slider.slider {
    color: var(--highlight) !important;
}

.slider-ctrl label {
    color: #ffffff !important;
}

.form-label, .buttons-bar-label {
    color: #ffffff !important;
}

button#btnStop:hover svg, button#btnStop:active svg {
    color: #ffffff;
}

.form-checkbox input:focus+.form-icon,
.form-radio input:focus+.form-icon,
.form-switch input:focus+.form-icon {
    box-shadow: 0 0 0 .1rem rgba(0, 91, 150, .2);
    border-color: var(--highlight)
}

.form-checkbox input:checked+.form-icon,
.form-radio input:checked+.form-icon,
.form-switch input:checked+.form-icon {
    background: var(--highlight);
    border-color: var(--highlight)
}

div.extra-control-header {
    color: #000000;
}

div.extra-control-value {
    color: #ffffff;
}

.badge-container {
    border-color: #ffffff;
    background-color: var(--buttonbkgd) !important;
}

.badge-container .badge-label {
    background-color: var(--buttonbkgd) !important;
}

.badge-container.bg-primary, .badge-container .badge-label.bg-primary {
    background-color: var(--highlight) !important;
}

div.file-line:hover {
    background-color: transparent;
}

div.file-line.form-control {
    color: #ffffff;
    background-color: transparent;
}

input[type='range'] {
    pointer-events: none;
    cursor: pointer;
    background-color: var(--buttonbkgd);
    border: 0.05rem solid #bcc3ce !important;
    border-radius: 4px;
    padding: 2px;
}

input[type='range']::-webkit-slider-thumb {
    /*Webkit Browsers like Chrome and Safari*/
    background-color: var(--highlight);
}
input[type='range']::-moz-range-thumb {
    /*Firefox*/
    background-color: var(--highlight);
}
input[type='range']::-ms-thumb {
    /*Internet Explorer*/
    background-color: var(--highlight);
}

div#group-laser_power_slider label {
    padding-top: 1.15rem;
}

.mobile-view div#group-laser_power_slider label {
    padding-top: 0.3rem;
}

@media (max-width: 480px) {
    div#group-laser_power_slider label {
        padding-top: 0.3rem;
    }
}

.bar .bar-item {
    background-color: var(--highlight) !important;
}

.form-switch .text-dark {
    color: #ffffff !important;
}

label.m-1, label.m-2 {
    color: #ffffff !important;
}

.field-group {
    color: #ffffff !important;
}

/* Settings -> FluidNC */
div#settings .comment {
    padding-top: 10px;
    background-color: transparent;
    color: #ffffff;
}

div#settings label.hide-low {
    color: #ffffff;
}

div#settings span.label-primary {
    background-color: var(--primary);
    color: #ffffff;
}

div#settings li.tab-item .btn:active, div#settings li.tab-item .btn:hover {
    background-color: transparent;
    color: #ffffff;
    border-color: transparent;
    border-bottom: 0.15rem solid var(--highlight);
}

div#settings li.tab-item svg {
    color: #eeeeee !important;
}

div#settings li.tab-item:nth-child(2) svg.esp3dlogo {
    color: var(--bkgd) !important;    
}

div#settings li.tab-item:nth-child(2) svg.esp3dlogo path:nth-child(2),
div#settings li.tab-item:nth-child(2) svg.esp3dlogo path:nth-child(3) {
    fill: var(--highlight);
    stroke: black;
}

div#settings li.tab-item:nth-child(2) svg.esp3dlogo path:nth-child(4),
div#settings li.tab-item:nth-child(2) svg.esp3dlogo path:nth-child(5) {
    fill: var(--bkgd);
    stroke: black;
}

div#settings li.tab-item:nth-child(2) svg.esp3dlogo path:nth-child(6) {
    fill: var(--highlight);
    stroke: black;
}

div#settings li.tab-item:nth-child(2) svg.esp3dlogo path:nth-child(1) {
    fill: #eeeeee;
    stroke: black;
}

div#settings .tab .tab-item a {
    padding-top: 0.3rem !important;
}

h4.show-low.title {
    font-size: 18px;
    color: #dadee4;
    padding-top: 0.4rem;
    padding-left: 0.2rem;
}
    
div.bordered.m-2 {
    background-color: var(--panelbkgd);
}

div#about h4 {
    color: #ffffff;
}

div#about .text-primary {
    color: #ffffff !important;
}

div#about .text-dark {
    color: #6b6b6b !important;
}

/* Position */
.jog-position-header, .jog-position-sub-header {
    color: #000000 !important;
}

.jog-position-value {
    color: #ffffff !important;
}

.jog-distance-selector-container .jog-distance-selector-header {
    border-color: #ffffff !important;
    color: #000000;
}

.flatbtn input[type=radio]:checked + label {
    background: var(--highlight) !important;
}

.flatbtn label {
    color: #ffffff;
    background-color: var(--buttonbkgd);
    border-color: #ffffff !important;
}

input[type='radio']:active + label {
    background: var(--highlight) !important;
    color: #ffffff;
}
input[type='radio']:checked + label {
    background: var(--highlight) !important;
    color: #ffffff;
}



/* Popups */
.modal-overlay {
    background: #000000 !important;
    opacity: 0.75 !important;
}

.modal-container {
    background-color: var(--panelbkgd) !important;
    color: #ffffff;
}

/* Menus */
.menu {
    background-color:var(--panelbkgd);
    border: 0.1em solid #ffffff;
}

.menu-item {
    color: #ffffff;
}

.menu-entry:hover {
    color: #ffffff !important;
    background-color: var(--secondary) !important;
}

.menu .menu-item>a:focus, .menu .menu-item>a:hover {
    color: #ffffff !important;
    background-color: var(--secondary) !important;  
}


.btn-header:hover,
.btn-close:hover,
.btn-header:focus,
.btn-close:focus {
    color: #000000 !important;
    background-color: #ffffff !important;
}

.mobile-view .btn-header, .btn-header:hover {
    color: #ffffff !important;
    background-color: var(--buttonbkgd) !important;
}

.mobile-view .btn-close, .btn-close:hover {
    color: #ffffff !important;
    background-color: transparent !important;
}

@media (max-width: 480px) {
    .btn-header:hover,
    .btn-close:hover,
    .btn-header:focus,
    .btn-close:focus {
        color: #000000 !important;
        background-color: #ffffff !important;
    }
    .btn-header,
    .btn-close {
        color: #ffffff !important;
        background-color: var(--buttonbkgd) !important;
    }
    .panel .btn-close {
        background-color: transparent !important;
    }
    .navbar-section .span .btn-close {
        color: #ffffff !important;
        background-color: #ffffff !important;
    }
    .btn {
        color: #ffffff;
        background-color: var(--buttonbkgd);
        border-color: #ffffff;
    }
}

/* Custom Logo */
.buttons-bar {
    display: flex;
    background-image: var(--logo);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.6rem !important;
    margin-top: 0.6rem !important;
}

@media (max-width: 630px) {
    .buttons-bar {
        background-image: var(--logosmall);
    }
}

.drop-zone--over {
    background:  
        linear-gradient(90deg, var(--highlight) 50%,transparent 50%),
        linear-gradient(90deg, var(--highlight) 50%,transparent 50%),
        linear-gradient(0deg, var(--highlight) 50%,transparent 50%),
        linear-gradient(0deg, var(--highlight) 50%,transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
}

div#tablet-dropdown-menu.menu {
    background-color: white;
}