/***** COLORS *****/
:root {
    --primary: #003c63;       /* Primary Color - Header Background */
    --secondary: #476b7d;     /* Secondary Color - Panel Header */
    --bkgd: #090909;          /* Page Body Background Color */
    --panelbkgd: #212121;     /* Panel Body Background Color */
    --buttonbkgd: #3b3b3b;    /* Button Background Color */
    --highlight: #0072bc;     /* Selected/Active Color */
    --logo: url("fluidnc.png");      /* Logo on Flash - 30px height, max 250px width */
    --logosmall: url("fluidnc.png"); /* Small Logo on Flash - 30px height */
}

/***** GENERAL *****/

/* FluidNC Logo Text Color */
svg.esp3dlogo :nth-child(2),
svg.esp3dlogo :nth-child(3),
svg.esp3dlogo :nth-child(4),
svg.esp3dlogo :nth-child(5),
svg.esp3dlogo :nth-child(6),
svg.esp3dlogo :nth-child(7),
svg.esp3dlogo :nth-child(8)
{
    fill: #f0f0f0;
}

/* Change the font */
body {
    font-family: Roboto, sans-serif;
    background-color: var(--bkgd);
}

/* Default Text Color - Affects Probe Status Color */
.text-primary {
    color: #ffffff !important;
}

/* Spinning Circle Loading Indicator */
.loading {
    color: transparent !important;
}

.loading::after {
    animation: loading .5s infinite linear;
    background: rgba(0, 0, 0, 0);
    border: .1rem solid #ffffff; /* Change this to set the indicator color */
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: .8rem;
    left: 50%;
    margin-left: -.4rem;
    margin-top: -.4rem;
    opacity: 1;
    padding: 0;
    position: absolute;
    top: 50%;
    width: .8rem;
    z-index: 1
}

/***** HEADER *****/

/* Shrink the height of the FluidNC logo to make the header shorter */
.navbar svg {
    max-height: 25px;
}

/* Header Colors */
.navbar, .navbar-section {
    color: #ffffff;
    background-color: var(--primary) !important;
}

/* Header Bottom Border */
.navbar {
    border-bottom: 0.05rem solid #bcc3ce;
}

/* Header Text Color - Unselected */
.navbar a.btn {
    color: #ffffff;
}

/* Header Mouseover Colors */
div#menu .navbar a.btn:hover, div#menu .navbar a.btn.active:hover {
    color: #ffffff !important;
    background-color: var(--bkgd) !important;
    border-color: var(--highlight) !important;
}

/* Header Text Color - Selected */
.btn.btn-link:focus {
    color: #eeeeee !important;
}

section .active, .mobile-view section .active {
    color: #eeeeee !important;
}


/***** PANELS *****/

/* Panel Header Colors */
.panel .navbar, .panel .navbar-section {
    color: #eeeeee;
    background-color: var(--secondary) !important; /* 7c1006 */
}

.panel {
    margin: 5px;
}

/* Allow non-extension panels to shrink height */
#statusPanel.panel,
#terminalPanel.panel,
#macrosPanel.panel,
#jogPanel.panel,
#filesPanel.panel,
#SpindlePanel.panel,
#laserPanel.panel,
#ProbePanel.panel,
#OverridesPanel.panel,
#notificationsPanel.panel {
    height: auto !important;
    max-height: 550px !important;
}

#statusPanel .panel-body-dashboard iframe,
#terminalPanel .panel-body-dashboard iframe,
#macrosPanel .panel-body-dashboard iframe,
#jogPanel .panel-body-dashboard iframe,
#filesPanel .panel-body-dashboard iframe,
#SpindlePanel .panel-body-dashboard iframe,
#laserPanel .panel-body-dashboard iframe,
#ProbePanel .panel-body-dashboard iframe,
#OverridesPanel .panel-body-dashboard iframe,
#notificationsPanel .panel-body-dashboard iframe {
    min-height: 515px !important;
    overflow-y: hidden !important;
}

.extra-content-container {
    color: #ffffff;
    background-color: var(--panelbkgd);
}

.macro-buttons-panel {
    margin-top: 20px;
    margin-bottom: 20px;
}

.macro-buttons-panel button {
    flex: 1 1 20% !important;
    margin: 10px !important;
}

/***** TERMINAL PANEL */

/* Ensure terminal output has minimum height */
.panel .panel-body.terminal {
    height: 200px;
    min-height: 200px !important;
}

/***** EMPTY SCREEN - Used for loading/disconnected screens */
.empty {
    background-color: #000000 !important;
}

/* Empty Screen Header */
.empty .empty-icon div.p-centered {
    padding: 1em !important;
    background-color: var(--highlight); /* Header Color */ 
}

.empty div.centered {
    border: 1px solid #ffffff !important;
    background-color: var(--panelbkgd) !important;
    padding: 1rem;
}

.panel {
    background-color: var(--panelbkgd);
}

.panel .panel-body {
    overflow-y: visible;
}

.file-line-action:active {
    color: #ffffff !important;
}

.files-list-footer {
    color: #ffffff !important;
}

.drop-zone, div.panel-body.panel-body-dashboard.terminal {
    color: #ffffff;
    background-color: var(--buttonbkgd);
}

.terminal .echo {
    color: #a3a3a3;
}

.tab {
    margin-top: 0.5rem;
    border: none;
}

.mobile-view .tab-item a.active, .tab-item a.active {
    background-color: var(--panelbkgd) !important;
    border-color: var(--highlight) !important;
    border-width: 0rem;
    border-bottom: 0.15rem solid var(--highlight);
}

.btn {
    color: #ffffff;
    background-color: var(--buttonbkgd);
    border-color: #ffffff;
}

.btn.emergency-btn {
    border-color: red;
}

.btn.emergency-btn svg {
    color: red;
}

.btn.emergency-btn:hover svg {
    color: #ffffff;
}

.btn.btn-primary, .btn.btn-primary:focus, .btn.btn-primary:hover,
.btn:active, .btn:hover, .btn:focus {
    background-color: var(--highlight) !important;
    color: #ffffff !important;
    border-color: #ffffff !important;
}

.form-select, .form-input, #selectAxisList {
    color: #ffffff;
    background-color: var(--buttonbkgd) !important;
    border-color: #ffffff !important;
}

.form-select:focus, .form-input:focus, #selectAxisList:focus {
    border-color: var(--highlight) !important;
}

.slider-ctrl, input.slider, input#laser_power_slider.slider {
    color: var(--highlight) !important;
}

.slider-ctrl label {
    color: #ffffff !important;
}

.form-label, .buttons-bar-label {
    color: #ffffff !important;
}

button#btnStop:hover svg, button#btnStop:active svg {
    color: #ffffff;
}

.form-checkbox input:focus+.form-icon,
.form-radio input:focus+.form-icon,
.form-switch input:focus+.form-icon {
    box-shadow: 0 0 0 .1rem rgba(0, 91, 150, .2);
    border-color: var(--highlight)
}

.form-checkbox input:checked+.form-icon,
.form-radio input:checked+.form-icon,
.form-switch input:checked+.form-icon {
    background: var(--highlight);
    border-color: var(--highlight)
}

div.status-ctrls {
    margin: 0.4rem 0.2rem;
}

div.extra-control-header {
    color: #000000;
}

div.extra-control-value {
    color: #ffffff;
}

.badge-container {
    border-color: #ffffff;
    background-color: var(--buttonbkgd) !important;
}

.badge-container .badge-label {
    background-color: var(--buttonbkgd) !important;
}

div.file-line.form-control {
    color: #ffffff;
    background-color: transparent;
}

input[type='range'] {
    pointer-events: none;
    cursor: pointer;
    background-color: var(--buttonbkgd);
    border: 0.05rem solid #bcc3ce !important;
    border-radius: 4px;
    padding: 2px;
}

input[type='range']::-webkit-slider-thumb {
    /*Webkit Browsers like Chrome and Safari*/
    background-color: var(--highlight);
}
input[type='range']::-moz-range-thumb {
    /*Firefox*/
    background-color: var(--highlight);
}
input[type='range']::-ms-thumb {
    /*Internet Explorer*/
    background-color: var(--highlight);
}

div#group-laser_power_slider label {
    padding-top: 1.15rem;
}

.mobile-view div#group-laser_power_slider label {
    padding-top: 0.3rem;
}

@media (max-width: 480px) {
    div#group-laser_power_slider label {
        padding-top: 0.3rem;
    }
}

.bar .bar-item {
    background-color: var(--highlight) !important;
}

.form-switch .text-dark {
    color: #ffffff !important;
}

label.m-1, label.m-2 {
    color: #ffffff !important;
}

.field-group {
    color: #ffffff !important;
}

/* Settings -> FluidNC */
div#settings .comment {
    padding-top: 10px;
    background-color: transparent;
    color: #ffffff;
    padding-left: 0px;
}

div#settings label.hide-low {
    color: #ffffff;
}

div#settings span.label-primary {
    background-color: var(--primary);
    color: #ffffff;
}

div#settings li.tab-item .btn:active, div#settings li.tab-item .btn:hover {
    background-color: transparent;
    color: #ffffff;
    border-color: transparent;
    border-bottom: 0.15rem solid var(--highlight);
}

div#settings li.tab-item svg {
    color: #eeeeee !important;
}

div#settings li.tab-item:nth-child(2) svg.esp3dlogo {
    color: var(--bkgd) !important;    
}

div#settings li.tab-item:nth-child(2) svg.esp3dlogo path:nth-child(2),
div#settings li.tab-item:nth-child(2) svg.esp3dlogo path:nth-child(3) {
    fill: var(--highlight);
    stroke: black;
}

div#settings li.tab-item:nth-child(2) svg.esp3dlogo path:nth-child(4),
div#settings li.tab-item:nth-child(2) svg.esp3dlogo path:nth-child(5) {
    fill: var(--bkgd);
    stroke: black;
}

div#settings li.tab-item:nth-child(2) svg.esp3dlogo path:nth-child(6) {
    fill: var(--highlight);
    stroke: black;
}

div#settings li.tab-item:nth-child(2) svg.esp3dlogo path:nth-child(1) {
    fill: #eeeeee;
    stroke: black;
}

div#settings .tab .tab-item a {
    padding-top: 0.3rem !important;
}

h4.show-low.title {
    font-size: 18px;
    color: #dadee4;
    padding-top: 0.4rem;
    padding-left: 0.2rem;
}
    
div.bordered.m-2 {
    background-color: var(--panelbkgd);
}

div#about h4 {
    color: #ffffff;
}

div#about .text-primary {
    color: #ffffff !important;
}

div#about .text-dark {
    color: #6b6b6b !important;
}

/* Position */
.jog-position-header, .jog-position-sub-header {
    color: #000000 !important;
}

.jog-position-value {
    color: #ffffff !important;
}

.jog-distance-selector-container .jog-distance-selector-header {
    border-color: #ffffff !important;
    color: #000000;
}

.flatbtn input[type=radio]:checked + label {
    background: var(--highlight) !important;
}

.flatbtn label {
    color: #ffffff;
    background-color: var(--buttonbkgd);
    border-color: #ffffff !important;
}

input[type='radio']:active + label {
    background: var(--highlight) !important;
    color: #ffffff;
}
input[type='radio']:checked + label {
    background: var(--highlight) !important;
    color: #ffffff;
}



/* Popups */
.modal-overlay {
    background: #000000 !important;
    opacity: 0.75 !important;
}

.modal-container {
    background-color: var(--panelbkgd) !important;
    color: #ffffff;
}

/* Menus */
.menu {
    background-color:var(--panelbkgd);
    border: 0.1em solid #ffffff;
}

.menu-item {
    color: #ffffff;
}

.menu-entry:hover {
    color: #ffffff !important;
    background-color: var(--secondary) !important;
}

.menu .menu-item>a {
    padding-top: 0.3rem;
    padding-bottom: 0rem;
}

.menu .menu-item>a:focus, .menu .menu-item>a:hover {
    color: #ffffff !important;
    background-color: var(--secondary) !important;  
}

.menu .menu-panel-item {
    padding-top: 0.2rem;
}

.menu .menu-item > .menu-entry {
    padding: 0.2rem 0.4rem;
}

.menu-panel-item .feather-icon-container {
    margin-top: 0rem;
    padding-top: 0.1rem;
}

.btn-xs, .btn.btn-screen  {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
}

.btn-header:hover,
.btn-close:hover,
.btn-header:focus,
.btn-close:focus {
    color: #000000 !important;
    background-color: #ffffff !important;
}

.mobile-view .btn-header, .btn-header:hover {
    color: #ffffff !important;
    background-color: var(--buttonbkgd) !important;
}

.mobile-view .btn-close, .btn-close:hover {
    color: #ffffff !important;
    background-color: transparent !important;
}

@media (max-width: 480px) {
    .btn-header:hover,
    .btn-close:hover,
    .btn-header:focus,
    .btn-close:focus {
        color: #000000 !important;
        background-color: #ffffff !important;
    }
    .btn-header,
    .btn-close {
        color: #ffffff !important;
        background-color: var(--buttonbkgd) !important;
    }
    .panel .btn-close {
        background-color: transparent !important;
    }
    .navbar-section .span .btn-close {
        color: #ffffff !important;
        background-color: #ffffff !important;
    }
    .btn {
        color: #ffffff;
        background-color: var(--buttonbkgd);
        border-color: #ffffff;
    }
    /* Always show macro button label */
    div.macro-buttons-panel .hide-low {
        display: inline-block !important;    
    }
}

/* Always show macro button label */
.mobile-view div.macro-buttons-panel .hide-low {
    display: inline-block !important;    
}

/* Custom Logo */
.buttons-bar {
    display: flex;
    background-image: var(--logo);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.6rem !important;
    margin-top: 0.6rem !important;
}

@media (max-width: 630px) {
    .buttons-bar {
        background-image: var(--logosmall);
    }
}

@media (max-width: 600px) {
    div#menu .hide-low {
        display: none !important;
    }
}

div#infopage {
    width: 98%;
}

.drop-zone--over {
    background:  
        linear-gradient(90deg, var(--highlight) 50%,transparent 50%),
        linear-gradient(90deg, var(--highlight) 50%,transparent 50%),
        linear-gradient(0deg, var(--highlight) 50%,transparent 50%),
        linear-gradient(0deg, var(--highlight) 50%,transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
}

.footer-container {
    height: 3rem;
}

/* Tablet Extension */

#tablettab {
color: white;
background-color: inherit;
}

#tablettab input, #tablettab select, #tablettab button {
color: #ffffff;
background-color: var(--buttonbkgd) !important;
}

#tablettab .btn-tablet:hover {
background: #e0e0e0 !important;
color: black;
}
#tablettab .btn-tablet:active {
background: #d0f0d0 !important;
color: black;
}
#tablettab .btn-tablet:disabled {
background: #f0f0f0 !important;
color: black;
}
#tablettab .btn-tablet {
border: 0.05rem solid #ffffff;
color: #ffffff;
background-color: var(--buttonbkgd);
border-color: #ffffff;
}

#tablettab #nav-panel {
margin-bottom: 3px;
}

#tablettab .messages {
border-color: rgb(118, 118, 118);
}
#tablettab #messages {
color: white;
background-color: var(--buttonbkgd);
}
#tablettab #gcode-states {
color: white;
background-color: black;
}
#tablettab #gcode {
font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace;
color: white;
background-color: var(--buttonbkgd);
}

#tablettab #axis-position,
#tablettab #mdifiles,
#tablettab #setAxis {
background-color: var(--secondary);
}

#tablettab #control-pad {
background-color: var(--panelbkgd);
}
#tablettab .mposition {
color: white;
}

#tablettab #gcode, 
#tablettab .mdi-entry, 
#tablettab #messages {
border: 0.05rem solid white;
}

#tablettab #toolpath, #tablettab #gcode-states {
    border: 0.05rem solid black;
}

/* (A) WRAPPER */
#tablettab #numWrap {
background: rgba(0, 0, 0, 0.7);
}

/* (B) NUMPAD */
#tablettab #numPad {
background: #eaeaea;
}

/* (C) DISPLAY */
#tablettab #numDisplay {
background: #fff;
border: 1px solid #c1c1c1;
color: #000;
}

/* (E) BUTTONS */
#tablettab #numBWrap div {
border: 1px solid #c1c1c1;
}
#tablettab #numBWrap .num, #tablettab #numBWrap .zero, #tablettab #numBWrap .dot { background: #fff; }
#tablettab #numBWrap .del, #tablettab #numBWrap .clr { background: #ffecd7; }
#tablettab #numBWrap .cx { background: #dadada; }
#tablettab #numBWrap .cxwide { background: #dadada; }
#tablettab #numBWrap .ok { background: #e7f3ff; }

#tablettab #numBWrap .recall  { background: #ffecd7; }
#tablettab #numBWrap .get     { background: #ffecd7; }
#tablettab #numBWrap .set     { background: #55ffd7; }
#tablettab #numBWrap .goto    { background: #ff5555; }

@media (max-width: 720px) {

    body,
    #tablettab #axis-position,
    #tablettab #mdifiles,
    #tablettab #setAxis {
        background-color: var(--panelbkgd);
    }

}

/* End Tablet Extension */
